*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #030303;
}
.slider-body{
    width: 80vw;
    height: 37vw;
    border: solid #fff .2rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10vh;
    border-radius: 1rem;
}
.slider-items{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide span{
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 47vw;
    left: 25vw;
    opacity: 0;
    transition:all .5s ease;
}
.slide{
    width: 20%;
    transition:all .5s ease;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-nav{
    position:absolute;
    top: 47vw;
    right: 15vw;
    display: flex;
    gap:.5rem;
}
.item{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(35, 66, 241);
    cursor: pointer;
    transition: all .3s ease;
    opacity: .8;
}
.item span{
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    transform: translate(-20%, -20%);
}
.item:hover{
    transform: scale(1.1);
    opacity: 1;
}
.item:active{
    transform: scale(1.2);
    background-color: rgb(0, 248, 132);
}
input{
    visibility: hidden;
    position: absolute;
}
#btn1:checked ~ .slide-nav .i1{
    background-color: rgb(97, 145, 123);
}
#btn2:checked ~ .slide-nav .i2{
    background-color: rgb(97, 145, 123);
}
#btn3:checked ~ .slide-nav .i3{
    background-color: rgb(97, 145, 123);
}
#btn4:checked ~ .slide-nav .i4{
    background-color: rgb(97, 145, 123);
}
#btn5:checked ~ .slide-nav .i5{
    background-color: rgb(97, 145, 123);
}
#btn1:checked ~ .slide1{
    margin-left: 0;
}
#btn2:checked ~ .slide1{
    margin-left: -20%;
}
#btn3:checked ~ .slide1{
    margin-left: -40%;
}
#btn4:checked ~ .slide1{
    margin-left: -60%;
}
#btn5:checked ~ .slide1{
    margin-left: -80%;
}
#btn1:checked ~ .slide1 span{
    opacity: 1;
    left: 15vw;
}
#btn2:checked ~ .slide2 span{
    opacity: 1;
    left: 15vw;
}
#btn3:checked ~ .slide3 span{
    opacity: 1;
    left: 15vw;
}
#btn4:checked ~ .slide4 span{
    opacity: 1;
    left: 15vw;
}
#btn5:checked ~ .slide5 span{
    opacity: 1;
    left: 15vw;
}
@media(max-width:1024px) {
    .slider-body{
        width: 90vw;
        height: 40vw;
    }
    .slide span{
        top: 55vw;
    }
    .slide-nav{
        right: 40vw;
        top: 60vw;
    }
}
@media(max-width:650px) {
    .slider-body{
        width: 96vw;
        height: 45vw;
        margin-top: 5vh;
    }
    .slide span{
        top: 60vw;
        font-size: 14px;
    }
    .slide-nav{
        right: 37vw;
        top: 70vw;
    }
}
@media(max-width:450px) {
    .slider-body{
        width: 96vw;
        height: 55vw;
        margin-top: 2vh;
    }
    .slide span{
        top: 70vw;
        font-size: 12px;
    }
    .slide-nav{
        right: 35vw;
        top: 85vw;
    }
}